.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-image: url('./images/bg.jpg');
    background-color: beige;
}

.generator {
  height: 55vh;
  width: 450px;
  padding: 30px 20px;
  font-weight: bold;
  border-radius: 20px;
  /* background-color: beige; */
  background: rgb(50,72,130);
  background: linear-gradient(0deg, rgba(50,72,130,1) 0%, rgba(25,38,32,1) 100%);
  border: 7px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.generator__form {
    padding: 20px;
     /* background-color: beige; */
     border-radius: 20px;
     background: rgb(77,173,255);
     background: linear-gradient(0deg, rgba(77,173,255,1) 0%, rgba(146,231,226,1) 100%);
}

.generator__title {
  text-align: center;
  margin-bottom: 20px;
  -webkit-animation: animatedBackground_b 5s linear infinite alternate;
}

@keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ffb9}
    50% {color: #00b9ff}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000}
}

.password {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    text-decoration: underline;
  text-decoration-color: silver;
  text-decoration-thickness: 3px;
 
}
@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.generator__form-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  
}

.generator__form-control input {
  accent-color: #b2abff;
}

.generator__length {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: #80FF72;
  background: rgb(164,255,77);
  background: rgb(224,255,77);
background: linear-gradient(0deg, rgba(224,255,77,1) 0%, rgba(146,231,191,1) 100%);
}

.generator__length h4{
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: rgb(255, 90, 255);
  text-decoration-thickness: 3px;
}

.generator__length-counter {
  padding: 10px;
}

.generator__length-counter button {
  width: 35px;
  height: 35px;
  font-size: 20px;
  margin: 0 10px;
  color: #fff;
  background-color: #292e5a;
  border: 1px solid #292e5a;
  border-radius: 5px;
  transition: all 200ms linear;
  cursor: pointer;
}

.generator__length-counter button:hover {
  color: #292e5a;
  background-color: #f3f3f3;
  border: 1px solid #292e5a;
}

.generator__length-counter span {
  display: inline-block;
  font-size: 18px;
  width: 36px;
  text-align: center;
}

.generator__form-actions {
  display: flex;
  justify-content: space-around;
}

.generator__form-actions .btn {
  padding: 8px 12px;
  color: #292e5a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.generator__form-actions .generate-btn {
  background: linear-gradient(to right, #a0c0ff, #b2abff);
}

/*.generator__form-actions .generate-btn:hover {
  color: #292e5a;
  background-color: #f3f3f3;
  border: 3px solid rgb(255, 90, 255);
} */

.generator__form-actions .copy-btn {
  background: linear-gradient(to right, #62f498, #77f4eb);
}
/*.generator__form-actions .copy-btn:hover {
  color: #292e5a;
  background-color: #f3f3f3;
  border: 3px solid rgb(255, 90, 255);
} */



